
<nz-layout style=" height: 100%;">
  <nz-header>
    <div class="logo"></div>

    
    <div class="user-logaut" >
      <ul>
          <li>
              <button mat-button [matMenuTriggerFor]="menu" class="user mt-2 d-flex aling-items-center">
                  <img src="../../assets/user.png" alt="" class="user-image mr-1 p-2">
                  <ng-container *ngIf="usuario"> {{ usuario.nombre }} {{usuario.apellido}}</ng-container> 
                  <mat-icon class="user-image-icon ml-1">keyboard_arrow_down</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="logaut()">
                      <mat-icon>exit_to_app</mat-icon>
                      Salir
                  </button>
              </mat-menu>
          </li>
      </ul>
  </div>

  <div *ngIf="usuario.tipo != '1'" class="user-logaut">

    <ul>
      <li>
        <nz-badge [nzCount]="totalMensajes">
          <a class="head-example">
            <button (click)="irMensajes()" mat-button  class="user mt-2 d-flex aling-items-center">
              <img src="../../assets/campana.png" alt="" class="user-image mr-1 p-2">
              <ng-container *ngIf="usuario"> Mensajes </ng-container> 
            </button>

          </a>
        </nz-badge>
          
      </li>
  </ul>

  </div>
 

  </nz-header>
  <nz-layout>
    <nz-sider [nzWidth]="tamanoMenu"  nzTheme="light">


      <ul nz-menu  nzMode="inline" class="sider-menu" *ngIf="menus">
        <ng-container  *ngTemplateOutlet="menuTpl; context: { $implicit: menus }"></ng-container>
        <ng-template #menuTpl let-menus>
          <ng-container *ngFor="let menu of menus">
            <li
            
              *ngIf="!menu.menusHijos"
              nz-menu-item
              [nzPaddingLeft]="menu.level * 24"
              [nzDisabled]="menu.disabled"
              [nzSelected]="menu.selected"
              [routerLink]="[menu.men_path]"
            >
              <i nz-icon [nzType]="menu.men_icono" *ngIf="menu.men_icono"></i>
              <span >{{ menu.men_titulo }}</span>
            </li>
            <li

              
              *ngIf="menu.menusHijos"
              nz-submenu
              (nzOpenChange)="seleccionarMenu(menu)"
              [nzPaddingLeft]="menu.level * 24"
              [nzOpen]="menu.open"
              [nzTitle]="menu.men_titulo"
              [nzIcon]="menu.men_icono"
              [nzDisabled]="menu.disabled"

            >
              <ul >
                <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menu.menusHijos }"></ng-container>
              </ul>
            </li>
          </ng-container>
        </ng-template>
      </ul>

    </nz-sider>
    <nz-layout class="inner-layout">
      <nz-breadcrumb>
        <nz-breadcrumb-item>{{carpetaAcceso}}</nz-breadcrumb-item>
        
      </nz-breadcrumb>
      <nz-content style="overflow: hidden; overflow-y: auto;">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>